<?xml version="1.0" encoding="UTF-8"?>
 
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
  <servers>
      <server>
          <id>rdc-releases</id>
          <username>LYOEdb</username>
          <password>KOrH54jFGC</password>
      </server>
      <server>
          <id>rdc-snapshots</id>
          <username>LYOEdb</username>
          <password>KOrH54jFGC</password>
      </server>
  </servers>
  <profile>
      <id>rdc-private-repo</id>
      <repositories>
          <repository>
              <id>rdc-releases</id>
              <url>https://repo.rdc.aliyun.com/repository/76421-release-VINpjJ/</url>
          </repository>
          <repository>
              <id>rdc-snapshots</id>
              <url>https://repo.rdc.aliyun.com/repository/76421-snapshot-uinpZJ/</url>
          </repository>
      </repositories>
  </profile>
 
  <activeProfiles>
    <activeProfile>nexus</activeProfile>
  </activeProfiles>
 
</settings>
