<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <plugins>
        <plugin interceptor="com.pubud.commons.interceptor.OptimisticLocker">
            <property name="versionColumn" value="object_version_number"/><!--数据库的列名-->
            <property name="versionField" value="objectVersionNumber"/> <!--java字段名-->
        </plugin>
    </plugins>
</configuration>